<a href="https://colab.research.google.com/github/KPass1000/module-13/blob/main/module_13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

In [12]:
nn = Sequential()

In [13]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv("applicants_data.csv")

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [14]:
# Review the data types associated with the columns
data_types = applicant_data_df.dtypes
print(data_types)

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [15]:
# Create a list of categorical variables
categorical_variables = ["APPLICATION_TYPE", "AFFILIATION", "CLASSIFICATION", "USE_CASE", "ORGANIZATION", "STATUS", "INCOME_AMT", "SPECIAL_CONSIDERATIONS"]


# Display the categorical variables list
print (categorical_variables)

['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'STATUS', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS']

In [16]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False, drop="first")

In [17]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [18]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(encoded_data)

# Review the DataFrame
encoded_df.head()

,0,1,2,3,4,5,6,7,8,9,...,98,99,100,101,102,103,104,105,106,107
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([encoded_df, applicant_data_df.drop(categorical_variables, axis=1)], axis=1)

# Review the Dataframe
encoded_df.head()

,0,1,2,3,4,5,6,7,8,9,...,102,103,104,105,106,107,EIN,NAME,ASK_AMT,IS_SUCCESSFUL
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,5000,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,108590,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,5000,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,6692,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,142590,1

In [20]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df["IS_SUCCESSFUL"]

# Display a sample of y
print(y.head())

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [21]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop("IS_SUCCESSFUL", axis=1)

# Review the features DataFrame
X.head()

,0,1,2,3,4,5,6,7,8,9,...,101,102,103,104,105,106,107,EIN,NAME,ASK_AMT
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,5000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,108590
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,5000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,6692
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,142590

In [22]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [39]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

ValueError: ignored

In [24]:
# Define the the number of inputs (features) to the model
number_input_features = X.shape[1]

# Review the number of features
print("Number of input features:", number_input_features)

Number of input features: 111

In [25]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [26]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = 16

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

16

In [27]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = 8

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

8

In [28]:
# Create the Sequential model instance
nn = Sequential()

In [29]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, activation='relu', input_dim=number_input_features))

In [30]:
# Add the second hidden layer
nn.add(Dense(units=10, activation='relu'))

In [32]:
nn.add(Dense(units=1, activation='sigmoid'))

In [33]:
nn.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 16)                1792

 dense_1 (Dense)             (None, 10)                170

 dense_2 (Dense)             (None, 1)                 11

=================================================================
Total params: 1,973
Trainable params: 1,973
Non-trainable params: 0
_________________________________________________________________

In [40]:
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [41]:
nn.fit(X_train_scaled, y_train, epochs=50)

NameError: ignored

In [42]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

NameError: ignored

In [43]:
# Set the model's file path
file_path = 'model.h5'

# Export your model to a HDF5 file
nn.save(file_path)

In [44]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train_scaled.iloc[0])

# Review the number of features
number_input_features

NameError: ignored

In [45]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [46]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 1

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

1

In [47]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [48]:
# First hidden layer
nn_A1.add(Dense(units=64, activation='relu', input_dim=number_input_features))


# Output layer
nn_A1.add(Dense(units=number_output_neurons, activation='sigmoid'))


# Check the structure of the model
nn_A1.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 64)                7168

 dense_4 (Dense)             (None, 1)                 65

=================================================================
Total params: 7,233
Trainable params: 7,233
Non-trainable params: 0
_________________________________________________________________

In [49]:
# Compile the Sequential model
nn_A1.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [50]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

NameError: ignored

In [52]:
# Set the file path for the first alternative model
file_path = "path/to/save/alternative_model_1.h5"

# Export your model to an HDF5 file
nn_A1.save(file_path)