<a href="https://colab.research.google.com/github/KPass1000/module-13/blob/main/venture_funding_with_deep_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy.

To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook.

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [3]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv("applicants_data.csv")

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000.0,1.0
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590.0,1.0
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000.0,0.0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692.0,1.0
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590.0,1.0

In [4]:
# Review the data types associated with the columns
data_types = applicant_data_df.dtypes
print(data_types)

EIN                         int64
NAME                       object
APPLICATION_TYPE           object
AFFILIATION                object
CLASSIFICATION             object
USE_CASE                   object
ORGANIZATION               object
STATUS                      int64
INCOME_AMT                 object
SPECIAL_CONSIDERATIONS     object
ASK_AMT                   float64
IS_SUCCESSFUL             float64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [5]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(["EIN", "NAME"], axis=1)

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000.0,1.0
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590.0,1.0
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000.0,0.0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692.0,1.0
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590.0,1.0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [6]:
# Create a list of categorical variables
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)


# Display the categorical variables list
print (categorical_variables)

['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS']

In [7]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False, drop="first")

In [8]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [9]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(encoded_data)

# Review the DataFrame
encoded_df.head()

,0,1,2,3,4,5,6,7,8,9,...,82,83,84,85,86,87,88,89,90,91
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [10]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat(
    [
        applicant_data_df[["STATUS", "ASK_AMT", "IS_SUCCESSFUL"]],
        encoded_df
    ],
    axis=1
)

# Review the Dataframe
encoded_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,0,1,2,3,4,5,6,...,82,83,84,85,86,87,88,89,90,91
0,1,5000.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,108590.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,5000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,6692.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,142590.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [11]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df["IS_SUCCESSFUL"]

# Display a sample of y
print(y.head())

0    1.0
1    1.0
2    0.0
3    1.0
4    1.0
Name: IS_SUCCESSFUL, dtype: float64

In [12]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=["IS_SUCCESSFUL"])
# Review the features DataFrame
X.head()

,STATUS,ASK_AMT,0,1,2,3,4,5,6,7,...,82,83,84,85,86,87,88,89,90,91
0,1,5000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,108590.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,5000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,6692.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,142590.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [13]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X.columns = X.columns.astype(str)
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [14]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [15]:
# Define the the number of inputs (features) to the model
number_input_features = X.shape[1]

# Review the number of features
print("Number of input features:", number_input_features)

Number of input features: 94

In [16]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [17]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = 16

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

16

In [18]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = 8

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

8

In [19]:
from tensorflow.keras.models import Sequential

In [20]:
# Create the Sequential model instance
nn = Sequential()

In [21]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, activation='relu', input_dim=number_input_features))

In [22]:
# Add the second hidden layer
nn.add(Dense(units=10, activation='relu'))

In [26]:
# Add the output layer to the model specifying the number of output neurons and activation function
number_classes = 1

nn.add(Dense(units=number_classes, activation="sigmoid"))

In [27]:
# Display the Sequential model summary
print(nn.summary())

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 16)                1520

 dense_1 (Dense)             (None, 10)                170

 dense_3 (Dense)             (None, 1)                 11

=================================================================
Total params: 1,701
Trainable params: 1,701
Non-trainable params: 0
_________________________________________________________________
None

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [28]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [29]:
# Fit the model using 50 epochs and the training data
model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4653
Epoch 2/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 3/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 4/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 5/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 6/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 7/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 8/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 9/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 10/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 11/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 12/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 13/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 14/50
475/475 [==============================] - 1s 2ms/step - loss: nan - accuracy: 0.4444
Epoch 15/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 16/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 17/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 18/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 19/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 20/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 21/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 22/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 23/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 24/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 25/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 26/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 27/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 28/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 29/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 30/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 31/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 32/50
475/475 [==============================] - 1s 2ms/step - loss: nan - accuracy: 0.4444
Epoch 33/50
475/475 [==============================] - 1s 2ms/step - loss: nan - accuracy: 0.4444
Epoch 34/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 35/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 36/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 37/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 38/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 39/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 40/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 41/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 42/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 43/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 44/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 45/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 46/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 47/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 48/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 49/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 50/50
475/475 [==============================] - 1s 2ms/step - loss: nan - accuracy: 0.4444

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [30]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

159/159 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.4511
Loss: nan, Accuracy: 0.45109662413597107

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [31]:
# Set the model's file path
file_path = 'model.h5'

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [38]:
number_input_features = X_train_scaled.shape[1]
number_input_features

94

In [39]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [40]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 1

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

1

In [41]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [42]:
# First hidden layer
nn_A1.add(Dense(units=64, activation='relu', input_dim=number_input_features))


# Output layer
nn_A1.add(Dense(units=number_output_neurons, activation='sigmoid'))


# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 64)                6080

 dense_5 (Dense)             (None, 1)                 65

=================================================================
Total params: 6,145
Trainable params: 6,145
Non-trainable params: 0
_________________________________________________________________

In [43]:
# Compile the Sequential model
nn_A1.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [47]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn.fit(X_test_scaled, y_test, epochs=50)

Epoch 1/50
159/159 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.4511
Epoch 2/50
159/159 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.4511
Epoch 3/50
159/159 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.4511
Epoch 4/50
159/159 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.4511
Epoch 5/50
159/159 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.4511
Epoch 6/50
159/159 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.4511
Epoch 7/50
159/159 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.4511
Epoch 8/50
159/159 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.4511
Epoch 9/50
159/159 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.4511
Epoch 10/50
159/159 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.4511
Epoch 11/50
159/159 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.4511
Epoch 12/50
159/159 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.4511
Epoch 13/50
159/159 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.4511
Epoch 14/50
159/159 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.4511
Epoch 15/50
159/159 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.4511
Epoch 16/50
159/159 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.4511
Epoch 17/50
159/159 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.4511
Epoch 18/50
159/159 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.4511
Epoch 19/50
159/159 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.4511
Epoch 20/50
159/159 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.4511
Epoch 21/50
159/159 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.4511
Epoch 22/50
159/159 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4511
Epoch 23/50
159/159 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4511
Epoch 24/50
159/159 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4511
Epoch 25/50
159/159 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4511
Epoch 26/50
159/159 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4511
Epoch 27/50
159/159 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.4511
Epoch 28/50
159/159 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4511
Epoch 29/50
159/159 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4511
Epoch 30/50
159/159 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4511
Epoch 31/50
159/159 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4511
Epoch 32/50
159/159 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4511
Epoch 33/50
159/159 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4511
Epoch 34/50
159/159 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4511
Epoch 35/50
159/159 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4511
Epoch 36/50
159/159 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.4511
Epoch 37/50
159/159 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.4511
Epoch 38/50
159/159 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.4511
Epoch 39/50
159/159 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.4511
Epoch 40/50
159/159 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.4511
Epoch 41/50
159/159 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.4511
Epoch 42/50
159/159 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.4511
Epoch 43/50
159/159 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.4511
Epoch 44/50
159/159 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.4511
Epoch 45/50
159/159 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.4511
Epoch 46/50
159/159 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.4511
Epoch 47/50
159/159 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.4511
Epoch 48/50
159/159 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.4511
Epoch 49/50
159/159 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.4511
Epoch 50/50
159/159 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.4511

#### Alternative Model 2

In [48]:
# Define the the number of inputs (features) to the model
number_input_features = X_train.shape[1]

# Review the number of features
number_input_features

94

In [52]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [49]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 1

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

1

In [50]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [53]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1, activation='relu', input_dim=number_input_features))

# Output layer
nn_A2.add(Dense(units=number_output_neurons_A2, activation='sigmoid'))

# Check the structure of the model
print(nn_A2.summary())

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 16)                1520

 dense_7 (Dense)             (None, 16)                272

 dense_8 (Dense)             (None, 1)                 17

=================================================================
Total params: 1,809
Trainable params: 1,809
Non-trainable params: 0
_________________________________________________________________
None

In [54]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [55]:
# Fit the model
model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 2/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 3/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 4/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 5/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 6/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 7/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 8/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 9/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 10/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 11/50
475/475 [==============================] - 1s 2ms/step - loss: nan - accuracy: 0.4444
Epoch 12/50
475/475 [==============================] - 1s 2ms/step - loss: nan - accuracy: 0.4444
Epoch 13/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 14/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 15/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 16/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 17/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 18/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 19/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 20/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 21/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 22/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 23/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 24/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 25/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 26/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 27/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 28/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 29/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 30/50
475/475 [==============================] - 1s 2ms/step - loss: nan - accuracy: 0.4444
Epoch 31/50
475/475 [==============================] - 1s 2ms/step - loss: nan - accuracy: 0.4444
Epoch 32/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 33/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 34/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 35/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 36/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 37/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 38/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 39/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 40/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 41/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 42/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 43/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 44/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 45/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 46/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 47/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 48/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 49/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444
Epoch 50/50
475/475 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.4444

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [76]:
print("Original Model Results")
optimizer = 'adam'
loss = 'binary_crossentropy'
nn_A2.compile(optimizer=optimizer, loss=loss)

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test, y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
159/159 [==============================] - 1s 2ms/step - loss: 53323.7969 - accuracy: 0.5489
Loss: 53323.796875, Accuracy: 0.5489034056663513

In [78]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test, y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
159/159 [==============================] - 0s 2ms/step - loss: 53323.7969 - accuracy: 0.5489
Loss: 53323.796875, Accuracy: 0.5489034056663513

In [81]:
print("Alternative Model 2 Results")
nn_A2.compile(optimizer=optimizer, loss=loss)

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test, y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
159/159 [==============================] - 0s 2ms/step - loss: 53323.7969 - accuracy: 0.5489
Loss: 53323.796875, Accuracy: 0.5489034056663513

### Step 3: Save each of your alternative models as an HDF5 file.

In [82]:
# Set the file path for the first alternative model
file_path = 'model.h5'

# Export your model to a HDF5 file
# YOUR CODE HERE
nn.save(file_path)

In [83]:
# Set the file path for the second alternative model
file_path = 'model.h5'

# Export your model to a HDF5 file
nn.save(file_path)